@use 'sass:math';

@function rem($value) {
  $rem-list: ();

  @each $number in $value {
    $rem-value: 0;

    @if (str-index('#{$number}', 'px')) {
      $rem-value: math.div($number, 16px);
    } @else {
      $rem-value: math.div($number, 16);
    }

    $rem-list: append($rem-list, #{$rem-value}rem);
  }

  @return #{$rem-list};
}
