$theme-color: (
  'dark': #0a0a0a,
  'white': #fff,
  'light': #7b80b1,
  'active': #2a37eb,
  'block': #141523,
  'blockBorder': #353851,
  'line': #615913,
  'error': #ff0000,
  'green': #40b412,
  'grey': #858585
);

$text-shadow:
  0px 1px 24.8px rgba(78, 87, 181, 0.96),
  0px 2px 0 rgba(44, 61, 242, 0.96);
$bg-circle: radial-gradient(circle, rgba(9, 9, 121, 0.5) 0%, rgba(247, 247, 247, 0) 100%);
